[submodule "packages/backend"]
    branch=master
	path = packages/backend
	url = git@github.com:manatik/video-hosting-backend.git
[submodule "packages/frontend"]
    branch=master
	path = packages/frontend
	url = git@github.com:manatik/video-hosting-frontend.git
